
.button1{
    width: 105px;
    height: 36px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}
.button2{
    width: 60px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: #00acee;
    cursor: pointer;
}
.button3{
    width: 105px;
    height: 36px;
    background-color: #00acee;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}