// MODULARIZAÇÃO
// Cria um módulo que armazena as funções e importa no arquivo q vc quer usar

@mixin div-size($w, $h){
    width: $w;
    height: $h;
}

@mixin default-config(){
    margin: 0;
    padding: 0;
}

@mixin div-style($bgColor: #d43aff){
    background-color: $bgColor;
}
